{% block footer %}
    <!-- Footer -->
    {#<div class="footer text-muted">#}
                        {#&copy; {{ "now"|date("Y") }}. <a href="#">Fehype</a> by <a href="#" target="_blank">VS</a>#}
    {#</div>#}
    <!-- /footer -->
    	</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

{% endblock %}